.checkbox-outer{
    height: auto;
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 3vw;
    div{
        font-size: 1vw;
        margin-left: 3vw;
        margin-top: 1vw;

        input{
            line-height: 1vw;
            vertical-align:baseline;
        }
    }
}